{% extends 'base.html.twig' %}

{% block title %}Конвертер фотографий{% endblock %}

{% block body %}
  <div class="wrapper">
    <div class="item-container">
        <h1>Работа с форматом Base64</h1>
        <input type="radio" checked name="radio" form="hash_form" id="tab-1" value="text">
        <label class="item-label btn btn-secondary" for="tab-1">
          В Base64
        </label>
        <input type="radio"  name="radio" form="hash_form" id="tab-2" value="file">
        <label class="item-label btn btn-secondary" for="tab-2" >
          Из Base64
        </label>

        <div class="tab-1">
            <h5>Конвертировать изображение в Base64</h1>
            <form id="baseFile" method="post" action="{{ path('base64_file') }}" >

                {{ form_row(formFile._token) }}
                {{ form_row(formFile.fileName, {input_attr: {class: 'form-control'},label_attr:{class: 'input-group-text'} }) }}
                {{ form_row(formFile.save,{'attr': {class: 'btn btn-primary'}}) }}
            </form>
            <div class="result-text"></div>
        </div>

        <div class="tab-2">
            <h5>Конвертировать Base64 в изображение</h1>
              <form id="baseText" method="post" action="{{ path('base64_text') }}" >
                {{ form_row(formText._token) }}
                {{ form_row(formText.text, {input_attr: {class: 'form-control'},label_attr:{class: 'textarea-text'} }) }}
                {{ form_row(formText.save,{'attr': {class: 'btn btn-primary'}}) }}
            </form>
        </div>
    </div>

  </div>
{% endblock %}
